@use './base';
@use './utils';
@use './components';
@use './layouts';
@use './pages';

body {
    background-color: utils.$light-mode-bg;
    color: utils.$dark-text;
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}


//theme colors
$primary: #326def;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

//color palette
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "white": #ffffff,

);

//@debug map-get($colors , "error");
//@debug map-has-key($colors , "secondary" );

@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }
}