@use "./variables";
@mixin theme($name, $color, $secondary) {
  .#{$name} {
    background-color: $color;
    color: $secondary;

    //.app__container {
    //background-color: variables.$card-dk-bg;
    // }

    .card__holder {
      background-color: variables.$card-dk-bg;
    }
    input {
      background-color: variables.$input-dk-bg;
      color: $secondary;
    }
    .optional__search,
    .details,
    .search__form {
      background-color: variables.$card-dk-bg;
    }
    .list__card,
    .footer {
      background-color: variables.$input-dk-bg;
      color: $secondary;
    }
    .card__title,
    .list__title,
    .card--link {
      color: $secondary;
    }
  }
}

@include theme(theme-light, variables.$light-mode-bg, variables.$dark-text);
@include theme(theme-dark, variables.$dark-mode-bg, variables.$light-text);

@mixin hoverFocus() {
  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: 0.25em;
  }
}
