$light-mode-bg: hsl(210, 22%, 96%);
$dark-text: hsl(219, 29%, 14%);
$card-lt-bg: hsl(0, 0%, 100%);

$dark-mode-bg: hsl(220, 29%, 10%);
$light-text: hsl(0, 0%, 100%);
$input-dk-bg: hsl(219, 19%, 14%); // #19202d;
$card-dk-bg: hsl(219, 19%, 14%);
$blue-bg-color:#5964E0;
//$lt-grey-bg: hsl(214, 17%, 51%)   //6E8098