$light-mode-bg: hsl(210, 22%, 96%);
$dark-text: hsl(219, 29%, 14%);
$card-lt-bg: hsl(0, 0%, 100%);

$dark-mode-bg: hsl(220, 29%, 10%); //121721 very dark blue
$light-text: hsl(0, 0%, 100%); // #ffffff white
$light-grey-text: #c9c9c9;
$white-bg: hsl(0, 0%, 100%); // #ffffff white
$input-dk-bg: hsl(219, 19%, 14%); // #19202d;
$card-dk-bg: hsl(219, 19%, 14%);
$blue-bg-color:#5964E0;
$lt-grey: hsl(210, 22%, 96%); //#f4f6f8
$med-grey: hsl(214, 17%, 51%); //#6E8098