/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr__only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.theme-light {
  background-color: #f3f5f7;
  color: #19212e;
}
.theme-light .card__holder {
  background-color: #1d222a;
}
.theme-light input {
  background-color: #1d222a;
  color: #19212e;
}
.theme-light .optional__search,
.theme-light .details,
.theme-light .search__form {
  background-color: #1d222a;
}
.theme-light .list__card,
.theme-light .footer {
  background-color: #1d222a;
  color: #19212e;
}
.theme-light .card__title,
.theme-light .list__title {
  color: #19212e;
}

.theme-dark {
  background-color: #121721;
  color: white;
}
.theme-dark .card__holder {
  background-color: #1d222a;
}
.theme-dark input {
  background-color: #1d222a;
  color: white;
}
.theme-dark .optional__search,
.theme-dark .details,
.theme-dark .search__form {
  background-color: #1d222a;
}
.theme-dark .list__card,
.theme-dark .footer {
  background-color: #1d222a;
  color: white;
}
.theme-dark .card__title,
.theme-dark .list__title {
  color: white;
}

/* 
  get rid of the fieldset styling and keep 
  this all on a single line 
*/
.radio-switch {
  border: none;
  padding: 0;
  white-space: nowrap;
}

/*
    radio button groups often benefit from a legend to
    provide context as to what the different
    options pertain to. Ideally this would be visible to all
    users.
  */
.radio-switch legend {
  font-size: 2px;
  opacity: 0;
  position: absolute;
}

/*
    relative labels to help position the pseudo elements
    the z-index will be handy later, when the labels that
    overlap the visual switch UI need to be adjusted
    to allow for a user to toggle the switch without
    having to move their mouse/finger to the different
    sides of the UI
  */
.radio-switch label {
  display: inline-block;
  line-height: 2;
  position: relative;
  z-index: 2;
}

/*
    inputs set to opcacity 0 are still accessible.
    Apparently there can be issues targetting inputs with
    Dragon speech recognition software if you use the typical
    'visually-hidden' class...so might as well just avoid that issue...
  */
.radio-switch input {
  opacity: 0;
  position: absolute;
}

/*
    a 2 option toggle can only have 2 options...so instead of
    adding more classes, i'm just going to use some
    structural pseudo-classes to target them...
    cause why let all that good work go to waste?!

    the large padding is used to position the labels
    on top of the visual UI, so the switch UI itself
    can be mouse clicked or finger tapped to toggle
    the current option
  */
.radio-switch label:first-of-type {
  padding-right: 5em;
}

.radio-switch label:last-child {
  margin-left: -4.25em;
  padding-left: 5em;
}

/*
    oh focus within, I can't wait for you to have even more support.
    But you'll never be in IE11, so we're going to need a
    polyfill for you for a bit...
   */
.radio-switch:focus-within label:first-of-type:after {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #2196f3;
}

/* polyfill class*/
.radio-switch.focus-within label:first-of-type:after {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #2196f3;
}

/* making the switch UI.  */
.radio-switch label:first-of-type:before,
.radio-switch label:first-of-type:after {
  border: 1px solid transparent;
  content: "";
  height: 1.8em;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  vertical-align: middle;
}

.radio-switch label:first-of-type:before {
  background: #5964e0;
  border: 1px solid transparent;
  border-radius: 100%;
  position: absolute;
  right: 0.35em;
  top: 0.45em;
  transform: translateX(0em);
  transition: transform 0.2s ease-in-out;
  width: 1em;
  height: 1em;
  z-index: 2;
}

.radio-switch label:first-of-type:after {
  background-color: #ffffff;
  border-radius: 1em;
  margin: 0 1em;
  transition: background 0.2s ease-in-out;
  width: 4em;
}

/*
    Visually change the switch UI to match the
    checked state of the first radio button
  */
.radio-switch input:first-of-type:checked ~ label:first-of-type:after {
  background-color: #ffffff;
}

.radio-switch input:first-of-type:checked ~ label:first-of-type:before {
  transform: translateX(-2.3em);
}

/* Move the 2nd label to have a lower z-index, so when that
     option is toggled, the first label will overlay on top of the
     Switch ui, and the switch can be pressed again to toggle back
     to the prevoius state. */
.radio-switch input:last-of-type:checked ~ label:last-of-type {
  z-index: 1;
}

.theme__img {
  display: inline;
}

.app__title--btn:hover, .app__title--btn:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

.card__holder {
  border-radius: 6px;
  background-color: white;
}

.card {
  padding: 2rem 1rem;
  position: relative;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem 1rem;
}

.card__img__holder {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2rem;
}

.span__contract {
  position: relative;
  margin-left: 2rem;
}
.span__contract::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #6d7f97;
  border-radius: 50%;
  top: 50%;
  left: -1.3rem;
}

.card__details {
  margin-top: 1rem;
}

.card__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.card--link {
  display: inline-block;
  text-decoration: none;
  color: #1d222a;
}
.card--link:hover, .card--link:focus {
  cursor: pointer;
  outline: dashed #5964E0;
  outline-offset: -0.25em;
  color: #7383a0;
}

.card--location {
  margin: 1rem auto 1rem;
  font-weight: 700;
  color: #5964E0;
}

.search__hide {
  display: none;
}

.search__form {
  position: relative;
  top: -3rem;
  border-radius: 6px;
}
@media screen and (min-width: 42.5rem) {
  .search__form {
    display: flex;
  }
}

.input__container {
  position: relative;
  border: 1px solid transparent;
}
@media screen and (min-width: 42.5rem) {
  .input__container {
    border: none;
  }
}

@media screen and (min-width: 42.5rem) {
  .title__filter__holder {
    flex: 1 1 33.3%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.optional__search {
  position: absolute;
  display: none;
  background-color: white;
  width: 100%;
  top: 10rem;
  box-shadow: 2px 2px 3px 4px lightgray;
  border-radius: 6px;
  z-index: 1;
}
@media screen and (min-width: 42.5rem) {
  .optional__search {
    position: relative;
    box-shadow: none;
    top: 0;
    flex: 2 1 66.6%;
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.open__options {
  display: block;
}
@media screen and (min-width: 42.5rem) {
  .open__options {
    display: flex;
  }
}

.input__search {
  font-size: 1rem;
  outline: 0;
  padding: 1.8rem 1rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
}
.input__search:hover, .input__search:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}
@media screen and (min-width: 42.5rem) {
  .input__search {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.time__filter:hover, .time__filter:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

.input__search__loc {
  padding: 1.8rem 3rem;
}
.input__search__loc:hover, .input__search__loc:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

.search--btn {
  position: absolute;
  background-color: #5964E0;
  border: none;
  outline: none;
  right: 1rem;
  top: 30%;
  border-radius: 6px;
}
.search--btn:hover, .search--btn:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}
.search--btn .search__img {
  padding: 0.5rem;
}

.open__options--btn {
  border: none;
  background-color: inherit;
  position: absolute;
  right: 6rem;
  top: 45%;
}
.open__options--btn:hover, .open__options--btn:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}
@media screen and (min-width: 42.5rem) {
  .open__options--btn {
    display: none;
  }
}

.input__label {
  position: absolute;
  font-size: 1rem;
  transform-origin: top left;
  transform: translate(1rem, 1.5rem) scale(1);
  transition: all 0.1s ease-in-out;
}
@media screen and (min-width: 42.5rem) {
  .input__label {
    transform: translate(2rem, 2rem) scale(1);
  }
}

.input__label__search {
  transform: translate(3rem, 2rem) scale(1);
}

.input__container.active label {
  transform: translate(1rem, 0.25rem) scale(0.75);
}

.location__img {
  position: absolute;
  top: 40%;
  left: 1rem;
}

.full__search--btn {
  display: block;
  margin: 2rem auto;
  width: 80%;
  padding: 1rem;
  max-width: 10.5rem;
  background-color: #5964E0;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 800;
}
.full__search--btn:hover, .full__search--btn:focus {
  cursor: pointer;
  outline: dashed #5964E0;
  outline-offset: 0.25em;
  background-color: #afb4f0;
}
@media screen and (min-width: 42.5rem) {
  .full__search--btn {
    position: absolute;
    right: 0;
    max-width: 5.25rem;
    margin: 1rem;
  }
}
@media screen and (min-width: 69.375rem) {
  .full__search--btn {
    max-width: 10.5rem;
  }
}

.location__filter__time {
  border-top: 1px solid #1d222a;
  padding: 1rem;
}
@media screen and (min-width: 42.5rem) {
  .location__filter__time {
    flex: 1 1 60%;
    border-top: none;
    gap: 0.4rem;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 42.5rem) {
  .location__filter__holder {
    flex: 1 1 50%;
    border-left: 1px solid #f3f5f7;
    border-right: 1px solid #f3f5f7;
  }
}

.time__filter {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 42.5rem) {
  .list__card {
    display: flex;
    padding: 0;
  }
}

.list__card__img__holder {
  left: 50%;
  margin-left: -25px;
}
@media screen and (min-width: 42.5rem) {
  .list__card__img__holder {
    left: 0%;
    top: 0;
    margin-left: 0px;
    min-height: 8.75rem;
    position: relative;
    flex: 1 1 22%;
    border-radius: 0;
  }
}

@media screen and (min-width: 42.5rem) {
  .list__card__img {
    transform: scale(2);
  }
}

@media screen and (min-width: 42.5rem) {
  .company__details__splitter {
    flex: 1 1 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2.9rem;
  }
}

.list__card__holder {
  text-align: center;
  margin-top: -1rem;
}
@media screen and (min-width: 42.5rem) {
  .list__card__holder {
    overflow: hidden;
    border-radius: 0 6px 6px 6px;
    margin-top: -3rem;
  }
}

.company__website--btn {
  background-color: #c9c9c9;
  color: white;
  padding: 0.7rem 1.3rem;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 700;
}
.company__website--btn:hover, .company__website--btn:focus {
  cursor: pointer;
  outline: dashed #6d7f97;
  outline-offset: 0.25em;
  background-color: #969696;
}

.card__title__listpage {
  margin: 0;
  font-size: 1.25rem;
}

.details {
  background-color: white;
  padding: 2rem 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 6px;
  margin-bottom: 5rem;
}
@media screen and (min-width: 42.5rem) {
  .details {
    padding: 2rem 2.5rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .card__details__more {
    display: flex;
    justify-items: center;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 42.5rem) {
  .company__more {
    flex: 1 1 70%;
  }
}

.footer {
  position: relative;
  bottom: 0;
  left: -1.5rem;
  background: white;
  width: 100vw;
  margin: auto;
  border-radius: 5px 5px 0 0;
  padding: 2.5rem 1rem 2.5rem;
}
.footer .footer__apply--btn {
  width: 100%;
}
@media screen and (min-width: 42.5rem) {
  .footer {
    width: 100%;
    left: 0;
  }
  .footer .footer__apply--btn {
    flex: 1 1 30%;
  }
}

.footer__content {
  max-width: 45.625rem;
  margin: auto;
}
@media screen and (min-width: 42.5rem) {
  .footer__content {
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem;
  }
  .footer__content .job__summary {
    position: relative;
    flex: 1 1 70%;
    height: auto;
  }
}

.duration {
  color: #6d7f97;
  font-size: 1rem;
}

.card__title__listpage,
.requirements__title,
.list__title {
  font-size: 1.25rem;
  color: #1d222a;
}
@media screen and (min-width: 42.5rem) {
  .card__title__listpage,
.requirements__title,
.list__title {
    font-size: 1.5rem;
  }
}

.website__name {
  font-size: 1rem;
}

.company__location {
  font-size: 0.875rem;
  color: #5964E0;
  font-weight: 700;
}

.apply--btn {
  background-color: #5964E0;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  max-width: 18.5rem;
  margin: 3rem auto;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
}
.apply--btn:hover, .apply--btn:focus {
  cursor: pointer;
  outline: dashed #5964E0;
  outline-offset: 0.25em;
  background-color: #afb4f0;
}
@media screen and (min-width: 42.5rem) {
  .apply--btn {
    margin: auto;
    padding: 1rem 2rem;
  }
}

.job__require__item {
  list-style: disc;
  margin-left: 1rem;
  color: #5964E0;
}

.job__role__item {
  list-style: decimal;
  margin-left: 1rem;
  color: #5964E0;
}

.list__title {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media screen and (min-width: 42.5rem) {
  .list__title {
    margin-bottom: 1rem;
    margin-top: 0rem;
    text-align: left;
  }
}

.job__description,
.require__content,
.role__content {
  color: #6d7f97;
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

.require__content__item,
.role__content__item {
  color: #6d7f97;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.require__content {
  margin-top: 2rem;
}

.header {
  background-image: url("../../assets/mobile/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1.5rem 4.5rem;
}
@media screen and (min-width: 42.5rem) {
  .header {
    background-image: url("../../assets/tablet/bg-pattern-header.svg");
    padding: 5.5rem 1.5rem 5.5rem;
  }
}
@media screen and (min-width: 69.375rem) {
  .header {
    background-image: url("../../assets/desktop/bg-pattern-header.svg");
    padding: 5.5rem 10.3125rem 5.5rem;
  }
}
.header .header__container {
  max-width: 69.375rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 0.5rem 1.5rem;
  margin: auto;
  max-width: 69.375rem;
  position: relative;
}
@media screen and (min-width: 42.5rem) {
  .main {
    padding: 0.5rem 2.5rem;
  }
}

.list__main {
  padding: 0.5rem 2.5rem 0;
}
@media screen and (min-width: 42.5rem) {
  .list__main {
    padding: 0.5rem 2.5rem;
    max-width: 45.625rem;
  }
}

body {
  background-color: #f3f5f7;
  color: #19212e;
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}

.text-primary {
  color: #326def;
}

.text-secondary {
  color: #1ac888;
}

.text-error {
  color: #d32752;
}

.text-info {
  color: #f6c31c;
}

.text-white {
  color: #ffffff;
}
