@use "../utils";

.card__holder {
  border-radius: 6px;
  //	overflow: hidden;
  background-color: utils.$white-bg;
}
.card {
  padding: 2rem 1rem;
  position: relative;
}
.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem 1rem;
}
.card__img__holder {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2rem;
}

.span__contract {
  position: relative;
  margin-left: 2rem;
  &::before {
    position: absolute;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: utils.$med-grey;
    border-radius: 50%;
    top: 50%;
    left: -1.3rem;
  }
}

.card__details {
  margin-top: 1rem;
}

.card__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card__link {
  text-decoration: none;
}
.card--location {
  margin: 2rem auto 1rem;
  font-weight: 700;
}
