@use "../utils";

.duration {
  color: utils.$med-grey;
  font-size: 1rem;
}

.card__title__listpage,
.requirements__title,
.list__title {
  font-size: 1.25rem;
  color: utils.$card-dk-bg;
  @media screen and (min-width: 42.5rem) {
    font-size: 1.5rem;
  }
}

.website__name {
  font-size: 1rem;
}

.company__location {
  font-size: 0.875rem;
  color: utils.$blue-bg-color;
  font-weight: 700;
}

.apply--btn {
  background-color: utils.$blue-bg-color;
  color: utils.$light-text;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  max-width: 18.5rem;
  margin: 3rem auto;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed utils.$blue-bg-color;
    outline-offset: 0.25em;
    background-color: lighten(utils.$blue-bg-color, 20%);
  }

  @media screen and (min-width: 42.5rem) {
    margin: auto;
    padding: 1rem 2rem;
  }
}

.job__require__item {
  list-style: disc;
  margin-left: 1rem;
  color: utils.$blue-bg-color;
}
.job__role__item {
  list-style: decimal;
  margin-left: 1rem;
  color: utils.$blue-bg-color;
}

.list__title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  @media screen and (min-width: 42.5rem) {
    margin-bottom: 1rem;
    margin-top: 0rem;
    text-align: left;
  }
}

.job__description,
.require__content,
.role__content {
  color: utils.$med-grey;
  font-size: 1rem;
  margin-bottom: 2.5rem;
}
.require__content__item,
.role__content__item {
  color: utils.$med-grey;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
.require__content {
  margin-top: 2rem;
}
