@use "sass:color";
@use "../utils";

.list__card {
  @media screen and (min-width: 42.5rem) {
    display: flex;
    padding: 0;
  }
}

.list__card__img__holder {
  left: 50%;
  margin-left: -25px;
  @media screen and (min-width: 42.5rem) {
    left: 0%;
    top: 0;
    margin-left: 0px;
    min-height: 8.75rem;
    position: relative;
    flex: 1 1 22%;
    border-radius: 0;
  }
}

.list__card__img {
  @media screen and (min-width: 42.5rem) {
    transform: scale(2);
  }
}

.company__details__splitter {
  @media screen and (min-width: 42.5rem) {
    flex: 1 1 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2.9rem;
  }
}

.list__card__holder {
  text-align: center;
  margin-top: -1rem;
  @media screen and (min-width: 42.5rem) {
    overflow: hidden;
    border-radius: 0 6px 6px 6px;
    margin-top: -3rem;
  }
}
.company__website--btn {
  background-color: utils.$light-grey-text;
  color: utils.$light-text;
  padding: 0.7rem 1.3rem;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 700;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed utils.$med-grey;
    outline-offset: 0.25em;
    background-color: darken(utils.$light-grey-text, 20%);
  }
}

.card__title__listpage {
  margin: 0;
  font-size: 1.25rem;
}
.details {
  background-color: utils.$white-bg;
  padding: 2rem 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 6px;
  margin-bottom: 5rem;

  @media screen and (min-width: 42.5rem) {
    padding: 2rem 2.5rem;
  }
}
.card__details__more {
  @media screen and (min-width: 42.5rem) {
    display: flex;
    justify-items: center;
    margin-bottom: 3rem;
  }
}

.company__more {
  @media screen and (min-width: 42.5rem) {
    flex: 1 1 70%;
  }
}
.footer {
  position: relative;
  bottom: 0;
  left: -1.5rem;
  background: white;
  width: 100vw;
  margin: auto;
  border-radius: 5px 5px 0 0;
  padding: 2.5rem 1rem 2.5rem;

  .footer__apply--btn {
    width: 100%;
  }
  
  @media screen and (min-width: 42.5rem) {
    width: 100%;
    left: 0;
    .footer__apply--btn {
      flex: 1 1 30%;
    }
  }
}

.footer__content {
  max-width: 45.625rem;
  margin: auto;
  @media screen and (min-width: 42.5rem) {
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem;
    .job__summary {
      position: relative;
      flex: 1 1 70%;
      height: auto;
    }
  }
}
