@use "../utils";

.list__card {
  @media screen and (min-width: 42.5rem) {
    display: flex;
    padding: 0;
  }
}

.list__card__img__holder {
  left: 50%;
  margin-left: -25px;
  @media screen and (min-width: 42.5rem) {
    left: 0%;
    top: 0;
    margin-left: 0px;
    height: 8.75rem;
    max-width: 8.75rem;
    position: relative;
    flex: 1 1 30%;
    border-radius: 0;
  }
}

.company__details__splitter {
  @media screen and (min-width: 42.5rem) {
    flex: 1 1 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
  }
}

.list__card__holder {
  text-align: center;
  margin-top: -1rem;
  @media screen and (min-width: 42.5rem) {
    overflow: hidden;
    border-radius: 0 6px 6px 6px;
  }
}
.company__website--btn {
  background-color: utils.$light-grey-text;
  padding: 0.7rem 1.3rem;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 700;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: 0.25em;
  }
}

.card__title__listpage {
  margin: 0;
  font-size: 1.25rem;
}
.details {
  background-color: utils.$white-bg;
  padding: 2rem 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 6px;
}

.footer {
  background: white;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  margin-top: 3rem;
  padding: 1rem 1rem 3rem;
  .footer__apply--btn {
    margin: 2rem auto 0;
    width: 100%;
  }
}
