@use 'sass:math';
@use '../utils';

.search__form {
  position: relative;
  top: -3rem;
  border-radius: 6px;

  @media screen and (min-width: 42.5rem) {
    display: flex;
  }
}

.input__container {
  position: relative;
  border: 1px solid transparent;
  @media screen and (min-width: 42.5rem) {
    border: none;
  }
}

.title__filter__holder {
  @media screen and (min-width: 42.5rem) {
    flex: 1 1 33.3%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.optional__search {
  position: absolute;
  display: none;
  background-color: utils.$light-text;
  width: 100%;
  top: 10rem;
  box-shadow: 2px 2px 3px 4px lightgray;
  border-radius: 6px;
  z-index: 1;
  @media screen and (min-width: 42.5rem) {
    position: relative;
    box-shadow: none;
    top: 0;
    flex: 2 1 66.6%;
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.open__options {
  display: block;
  @media screen and (min-width: 42.5rem) {
    display: flex;
  }
}

.input__search {
  font-size: 1rem;
  outline: 0;
  padding: 1.8rem 1rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
 
  @include utils.hoverFocus;

  @media screen and (min-width: 42.5rem) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.time__filter {
  @include utils.hoverFocus;
 
}

.input__search__loc {
  padding: 1.8rem 3rem;
  @include utils.hoverFocus;
  
}

.search--btn {
  position: absolute;
  background-color: utils.$blue-bg-color;
  border: none;
  outline: none;
  right: 1rem;
  top: 30%;
  border-radius: 6px;
  @include utils.hoverFocus;
 
  .search__img {
    padding: 0.5rem;
  }
}

.open__options--btn {
  border: none;
  background-color: inherit;
  position: absolute;
  right: 6rem;
  top: 45%;
  @include utils.hoverFocus;
  
  @media screen and (min-width: 42.5rem) {
    display: none;
  }
}

.input__label {
  position: absolute;
  font-size: 1rem;
  transform-origin: top left;
  transform: translate(1rem, 1.5rem) scale(1);
  transition: all 0.1s ease-in-out;
  @media screen and (min-width: 42.5rem) {
    transform: translate(2rem, 2rem) scale(1);
  }
}

.input__label__search {
  transform: translate(3rem, 2rem) scale(1);
  /* @media screen and (min-width: 42.5rem) {
    transform: translate(3rem, 2rem) scale(1);
  }*/
}

.input__container.active label {
  transform: translate(1rem, 0.25rem) scale(0.75);
}

.location__img {
  position: absolute;
  top: 40%;
  left: 1rem;
}

.full__search--btn {
  display: block;
  margin: 2rem auto;
  width: 80%;
  padding: 1rem;
  max-width: 10.5rem;
  background-color: utils.$blue-bg-color;
  color: utils.$light-text;
  border: none;
  border-radius: 6px;
  font-weight: 800;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: dashed utils.$blue-bg-color;
    outline-offset: 0.25em;
  }

  @media screen and (min-width: 42.5rem) {
    position: absolute;
    right: 0;
    max-width: 5.25rem;
    margin: 1rem;
  }
}

.location__filter__time {
  border-top: 1px solid utils.$card-dk-bg;
  padding: 1rem;
  @media screen and (min-width: 42.5rem) {
    flex: 1 1 60%;
    border-top: none;
    gap: .4rem;
    display: flex;
    align-items: center;
  }
}
.location__filter__holder {
  @media screen and (min-width: 42.5rem) {
    flex: 1 1 50%;
    border-left: 1px solid utils.$lt-grey;
    border-right: 1px solid utils.$lt-grey;
  }
}

.time__filter {
	width: 1.5rem;
	height: 1.5rem;
}