.header {
  background-image: url("../../assets/mobile/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem 4.5rem;
  @media screen and (min-width: 42.5rem)  {
    background-image: url("../../assets/tablet/bg-pattern-header.svg");
    padding: 5.5rem 1.5rem 5.5rem;
  }
  @media screen and (min-width: 42.5rem)  {
    background-image: url("../../assets/desktop/bg-pattern-header.svg");
  }
}
